.card-style {
    background-color: #505050; 
    padding: 10px;
    border-radius: 5px;
    width: 460px;
    height: 320px;
  
    .heading-style {
      color: #fff;
      margin-bottom: 10px;
    }
  }